<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Folders</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>All folders</h1>
    <div class="folders">
        <div class="folderDeets">
            <% folders.forEach(folder => { %>
                <p>FolderName: <%= folder.folderName  %></p>
                <p>Folder ID: <%= folder.folderId %></p>
                <p>User ID: <%= folder.userId %></p>
                <p>Created At: <%= folder.createdAt %></p>
                <form action="/showFolders" method="post">
                    <input type="hidden" name="folderId" value="<%= folder.folderId %>">
                    <input type="submit" value="Delete">
                </form>
                <form action="/updateFolderDetails" method="post">
                    <input type="hidden" name="folderId" value="<%= folder.folderId %>">
                    <input type="submit" value="Update">
                </form>
                <form action="/viewFolder" method="get">
                    <input type="hidden" name="folderId" value="<%= folder.folderId %>">
                    <input type="submit" value="View Folder files">
                </form>
            <% }) %>
            
            <a href="/home">home</a>
        </div>
    </div>
</body>
</html>