<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Folder <%=folderId  %></title>
</head>
<body>
    <h1>File details</h1>
    <% if (typeof file !== 'undefined' && file) { %>
        <p>Folder Id: <%= folderId %></p>
        <p>File Name: <%= file.name %></p>
        <p>File size: <%= file.size %></p>
        <p>Uploaded at: <%= file.uploadedAt %></p>
        <a href="<%= file.url %>" target="_blank">Download</a>
    <% } %>

    <form action="/upload?folderId=<%= folderId %>" method="post" enctype="multipart/form-data">
        <h2>Upload your files here</h2>
        <label for="uploadedFile">Select a file:</label>
        <input type="file" name="uploadedFile" id="uploadedFile" required>
        <button type="submit">Upload</button>
    </form>
</body>
</html>